img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin-top: -130px;
}
_ a:hover {
  text-decoration: underline;
}

#today-goal {
  color: rgb(29, 29, 116);
  font-size: 20px;
  font-weight: 700;
}

* {
  list-style-type: none;
}

main {
  width: 800px;
  margin: 200px auto;
  background-color: rgb(131, 255, 255);
  padding: 24px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
}
