h1,
p,
h3 {
  font-family: "Gaegu", cursive;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(233, 133, 255);
  text-align: center;
}

a {
  color: rgb(233, 133, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#today-goal {
  color: rgb(118, 193, 237);
  font-size: 32px;
  font-weight: bold;
}

body {
  text-align: center;
  background-color: rgb(241, 241, 241);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
