* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}

nav {
  background-color: gray;
}
ul {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: salmon;
}
h2 {
  margin-bottom: 20px;
}
#time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background-color: lightsalmon;
}

td,
th {
  width: 130px;
}

#new {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
}

section {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: gray;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

body {
  position: relative;
  height: 100vh;
}
